doctype html
html(lang="zh-CN")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible",content="IE=edge")
        meta(name="viewport",content="width=device-width, initial-scale=1,,maximum-scale=1,user-scalable=no")
        //上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！
        title= '这是标题'
        meta(name="keywords",content="#")
        meta(name="description",content="#")
        meta(name="author",content="#")
        link(rel='shortcut icon',href='/favicon.ico')
        link(rel='stylesheet', href='/libs/bootstrap/css/bootstrap.min.css')
        link(rel='stylesheet', href='/css/backend-core-main.min.css')
        <!--[if lt IE 9]>
        <script src="/libs/html5shiv.min.js"></script>
        <![endif]-->
        block css
    body
        script(src="/libs/jquery-1.9.1.min.js")
        script(src="/libs/bootstrap/js/bootstrap.min.js")